@charset "UTF-8";
body {
    font-family: 'Poppins', sans-serif;
    background-color: #e0f7fa;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 1200px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #5f6368;
}

.table-wrapper {
    overflow-x: auto;
}

.calendar {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

.calendar th, .calendar2 td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.calendar th {
    background-color: #009879;
    color: white;
}

.calendar td {
    cursor: pointer;
}

.calendar td:hover {
    background-color: #f1f1f1;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    .calendar {
        font-size: 0.8em;
    }
}
