/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
	--first-color: hsl(244, 75%, 57%);
	--second-color: hsl(249, 64%, 47%);
	--title-color-light: hsl(244, 12%, 12%);
	--text-color-light: hsl(244, 4%, 36%);
	--body-color-light: hsl(208, 97%, 85%);
	--title-color-dark: hsl(0, 0%, 95%);
	--text-color-dark: hsl(0, 0%, 80%);
	--body-color-dark: #2a2a2a;
	--form-bg-color-light: hsla(244, 16%, 92%, 0.6);
	--form-border-color-light: hsla(244, 16%, 92%, 0.75);
	--form-bg-color-dark: #333;
	--form-border-color-dark: #3a3a3a;
	/*========== Font and typography ==========*/
	--body-font: "Poppins", sans-serif;
	--h2-font-size: 1.25rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;
	/*========== Font weight ==========*/
	--font-medium: 500;
	--font-semi-bold: 600;

    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    // Responsive typography
    @media screen and (min-width: 1024px){
        --h2-font-size: 1.75rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
}