<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Proiect</display-name>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyUserServlet</display-name>
    <servlet-name>MyUserServlet</servlet-name>
    <servlet-class>Servlet.MyUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyUserServlet</servlet-name>
    <url-pattern>/MyUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserViewServlet</display-name>
    <servlet-name>UserViewServlet</servlet-name>
    <servlet-class>Servlet.UserViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserViewServlet</servlet-name>
    <url-pattern>/UserViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDepServlet</display-name>
    <servlet-name>UserDepServlet</servlet-name>
    <servlet-class>Servlet.UserDepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDepServlet</servlet-name>
    <url-pattern>/UserDepServlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>MySQL Datasource example</description>
    <res-ref-name>jdbc/test</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>Servlet.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifUsrServlet</display-name>
    <servlet-name>ModifUsrServlet</servlet-name>
    <servlet-class>Servlet.ModifUsrServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifUsrServlet</servlet-name>
    <url-pattern>/modifusr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifPasdServlet</display-name>
    <servlet-name>ModifPasdServlet</servlet-name>
    <servlet-class>Servlet.ModifPasdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifPasdServlet</servlet-name>
    <url-pattern>/ModifPasdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelUsrServlet</display-name>
    <servlet-name>DelUsrServlet</servlet-name>
    <servlet-class>Servlet.DelUsrServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUsrServlet</servlet-name>
    <url-pattern>/delusr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDepServlet</display-name>
    <servlet-name>AddDepServlet</servlet-name>
    <servlet-class>Servlet.AddDepServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDepServlet</servlet-name>
    <url-pattern>/AddDepServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifDepServlet</display-name>
    <servlet-name>ModifDepServlet</servlet-name>
    <servlet-class>Servlet.ModifDepServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifDepServlet</servlet-name>
    <url-pattern>/ModifDepServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelDepServlet</display-name>
    <servlet-name>DelDepServlet</servlet-name>
    <servlet-class>Servlet.DelDepServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDepServlet</servlet-name>
    <url-pattern>/DelDepServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddConServlet</display-name>
    <servlet-name>AddConServlet</servlet-name>
    <servlet-class>Servlet.AddConServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddConServlet</servlet-name>
    <url-pattern>/addcon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifConServlet</display-name>
    <servlet-name>ModifConServlet</servlet-name>
    <servlet-class>Servlet.ModifConServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifConServlet</servlet-name>
    <url-pattern>/modifcon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelConServlet</display-name>
    <servlet-name>DelConServlet</servlet-name>
    <servlet-class>Servlet.DelConServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelConServlet</servlet-name>
    <url-pattern>/delcon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AprobDirServlet</display-name>
    <servlet-name>AprobDirServlet</servlet-name>
    <servlet-class>Servlet.AprobDirServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>AprobDirServlet</servlet-name>
    <url-pattern>/aprobdir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResDirServlet</display-name>
    <servlet-name>ResDirServlet</servlet-name>
    <servlet-class>Servlet.ResDirServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResDirServlet</servlet-name>
    <url-pattern>/resdir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResSefServlet</display-name>
    <servlet-name>ResSefServlet</servlet-name>
    <servlet-class>Servlet.ResSefServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResSefServlet</servlet-name>
    <url-pattern>/ressef</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AprobSefServlet</display-name>
    <servlet-name>AprobSefServlet</servlet-name>
    <servlet-class>Servlet.AprobSefServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>AprobSefServlet</servlet-name>
    <url-pattern>/aprobsef</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeanServlet</display-name>
    <servlet-name>PeanServlet</servlet-name>
    <servlet-class>Servlet.PeanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeanServlet</servlet-name>
    <url-pattern>/PeanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsonServlet</display-name>
    <servlet-name>JsonServlet</servlet-name>
    <servlet-class>Servlet.JsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonServlet</servlet-name>
    <url-pattern>/JsonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsonServlet2</display-name>
    <servlet-name>JsonServlet2</servlet-name>
    <servlet-class>Servlet.JsonServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonServlet2</servlet-name>
    <url-pattern>/JsonServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsonServlet3</display-name>
    <servlet-name>JsonServlet3</servlet-name>
    <servlet-class>Servlet.JsonServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonServlet3</servlet-name>
    <url-pattern>/JsonServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveDataServlet</display-name>
    <servlet-name>LeaveDataServlet</servlet-name>
    <servlet-class>Servlet.LeaveDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveDataServlet</servlet-name>
    <url-pattern>/LeaveDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveDataServlet2</display-name>
    <servlet-name>LeaveDataServlet2</servlet-name>
    <servlet-class>Servlet.LeaveDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveDataServlet2</servlet-name>
    <url-pattern>/ceva</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>decenulvede</display-name>
    <servlet-name>decenulvede</servlet-name>
    <servlet-class>Servlet.decenulvede</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>decenulvede</servlet-name>
    <url-pattern>/decenulvede</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GMailServlet</display-name>
    <servlet-name>GMailServlet</servlet-name>
    <servlet-class>Servlet.GMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GMailServlet</servlet-name>
    <url-pattern>/GMailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OTP</display-name>
    <servlet-name>OTP</servlet-name>
    <servlet-class>mail.OTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTP</servlet-name>
    <url-pattern>/OTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OTP2</display-name>
    <servlet-name>OTP2</servlet-name>
    <servlet-class>mail.OTP2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTP2</servlet-name>
    <url-pattern>/OTP2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OTP3</display-name>
    <servlet-name>OTP3</servlet-name>
    <servlet-class>mail.OTP3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTP3</servlet-name>
    <url-pattern>/OTP3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addImageServlet</display-name>
    <servlet-name>addImageServlet</servlet-name>
    <servlet-class>Servlet.addImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addImageServlet</servlet-name>
    <url-pattern>/addImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addImage</display-name>
    <servlet-name>addImage</servlet-name>
    <servlet-class>Servlet.addImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addImage</servlet-name>
    <url-pattern>/addImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayImage</display-name>
    <servlet-name>DisplayImage</servlet-name>
    <servlet-class>Servlet.DisplayImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImage</servlet-name>
    <url-pattern>/DisplayImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>Servlet.PeanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    <multipart-config>
      <max-file-size>5242880</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>UploadImageServlet</servlet-name>
    <servlet-class>Servlet.UploadImageServlet</servlet-class>
    <multipart-config>
      <location>C:\Users\Popi\Desktop</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>15728640</max-request-size>
      <file-size-threshold>102400</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImageServlet</servlet-name>
    <url-pattern>/UploadImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>Servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLocationsServlet</display-name>
    <servlet-name>GetLocationsServlet</servlet-name>
    <servlet-class>mix.GetLocationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLocationsServlet</servlet-name>
    <url-pattern>/getLocations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveLocationServlet</display-name>
    <servlet-name>SaveLocationServlet</servlet-name>
    <servlet-class>mix.SaveLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveLocationServlet</servlet-name>
    <url-pattern>/SaveLocationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUpdateAddress</display-name>
    <servlet-name>ServletUpdateAddress</servlet-name>
    <servlet-class>mix.ServletUpdateAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpdateAddress</servlet-name>
    <url-pattern>/Project/ServletUpdateAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUpdateAddressDep</display-name>
    <servlet-name>ServletUpdateAddressDep</servlet-name>
    <servlet-class>mix.ServletUpdateAddressDep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpdateAddressDep</servlet-name>
    <url-pattern>/ServletUpdateAddressDep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadVacationLocationsServlet</display-name>
    <servlet-name>LoadVacationLocationsServlet</servlet-name>
    <servlet-class>mix.LoadVacationLocationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadVacationLocationsServlet</servlet-name>
    <url-pattern>/LoadVacationLocationsServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletIUpdateAddressLeave</display-name>
    <servlet-name>ServletIUpdateAddressLeave</servlet-name>
    <servlet-class>mix.ServletIUpdateAddressLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletIUpdateAddressLeave</servlet-name>
    <url-pattern>/ServletIUpdateAddressLeave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>decenulvedema</display-name>
    <servlet-name>decenulvedema</servlet-name>
    <servlet-class>mix.decenulvedema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>decenulvedema</servlet-name>
    <url-pattern>/decenulvedema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aaaa</display-name>
    <servlet-name>aaaa</servlet-name>
    <servlet-class>mix.aaaa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aaaa</servlet-name>
    <url-pattern>/aaaa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LeaveGetAddress</servlet-name>
    <servlet-class>mix.LeaveGetAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveGetAddress</servlet-name>
    <url-pattern>/LeaveGetAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLeaveLocation</display-name>
    <servlet-name>AddLeaveLocation</servlet-name>
    <servlet-class>mix.AddLeaveLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLeaveLocation</servlet-name>
    <url-pattern>/AddLeaveLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetVacationDetailsServlet</display-name>
    <servlet-name>GetVacationDetailsServlet</servlet-name>
    <servlet-class>mix.GetVacationDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVacationDetailsServlet</servlet-name>
    <url-pattern>/GetVacationDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>locactdep</display-name>
    <servlet-name>locactdep</servlet-name>
    <servlet-class>mix.locactdep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>locactdep</servlet-name>
    <url-pattern>/locactdep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>locactacs</display-name>
    <servlet-name>locactacs</servlet-name>
    <servlet-class>mix.locactacs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>locactacs</servlet-name>
    <url-pattern>/locactacs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>locatiee</display-name>
    <servlet-name>locatiee</servlet-name>
    <servlet-class>mix.locatiee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>locatiee</servlet-name>
    <url-pattern>/locatiee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>generateCSV1</display-name>
    <servlet-name>generateCSV1</servlet-name>
    <servlet-class>csv.generateCSV1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generateCSV1</servlet-name>
    <url-pattern>/generateCSV1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>locactacss</display-name>
    <servlet-name>locactacss</servlet-name>
    <servlet-class>mix.locactacss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>locactacss</servlet-name>
    <url-pattern>/locactacss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PenalizariServlet</display-name>
    <servlet-name>PenalizariServlet</servlet-name>
    <servlet-class>Servlet.PenalizariServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PenalizariServlet</servlet-name>
    <url-pattern>/PenalizariServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SporuriServlet</display-name>
    <servlet-name>SporuriServlet</servlet-name>
    <servlet-class>Servlet.SporuriServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SporuriServlet</servlet-name>
    <url-pattern>/SporuriServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PromovareServlet</display-name>
    <servlet-name>PromovareServlet</servlet-name>
    <servlet-class>Servlet.PromovareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PromovareServlet</servlet-name>
    <url-pattern>/PromovareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConcediiSuplimentareServlet</display-name>
    <servlet-name>ConcediiSuplimentareServlet</servlet-name>
    <servlet-class>Servlet.ConcediiSuplimentareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConcediiSuplimentareServlet</servlet-name>
    <url-pattern>/ConcediiSuplimentareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncetareContractServlet</display-name>
    <servlet-name>IncetareContractServlet</servlet-name>
    <servlet-class>Servlet.IncetareContractServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncetareContractServlet</servlet-name>
    <url-pattern>/IncetareContractServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdaugaSediuServlet</display-name>
    <servlet-name>AdaugaSediuServlet</servlet-name>
    <servlet-class>Servlet.AdaugaSediuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdaugaSediuServlet</servlet-name>
    <url-pattern>/AdaugaSediuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSediuServlet</display-name>
    <servlet-name>EditSediuServlet</servlet-name>
    <servlet-class>Servlet.EditSediuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSediuServlet</servlet-name>
    <url-pattern>/EditSediuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSediuServlet</display-name>
    <servlet-name>DeleteSediuServlet</servlet-name>
    <servlet-class>Servlet.DeleteSediuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSediuServlet</servlet-name>
    <url-pattern>/DeleteSediuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSediuServlet</display-name>
    <servlet-name>GetSediuServlet</servlet-name>
    <servlet-class>Servlet.GetSediuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSediuServlet</servlet-name>
    <url-pattern>/GetSediuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerereAdeverintaServlet</display-name>
    <servlet-name>CerereAdeverintaServlet</servlet-name>
    <servlet-class>Servlet.CerereAdeverintaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerereAdeverintaServlet</servlet-name>
    <url-pattern>/CerereAdeverintaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesareAdeverintaServlet</display-name>
    <servlet-name>ProcesareAdeverintaServlet</servlet-name>
    <servlet-class>Servlet.ProcesareAdeverintaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesareAdeverintaServlet</servlet-name>
    <url-pattern>/ProcesareAdeverintaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAdeverinteServlet</display-name>
    <servlet-name>GetAdeverinteServlet</servlet-name>
    <servlet-class>Servlet.GetAdeverinteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAdeverinteServlet</servlet-name>
    <url-pattern>/GetAdeverinteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerareCarteServlet</display-name>
    <servlet-name>GenerareCarteServlet</servlet-name>
    <servlet-class>Servlet.GenerareCarteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerareCarteServlet</servlet-name>
    <url-pattern>/GenerareCarteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerereDemisieServlet</display-name>
    <servlet-name>CerereDemisieServlet</servlet-name>
    <servlet-class>Servlet.CerereDemisieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerereDemisieServlet</servlet-name>
    <url-pattern>/CerereDemisieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DescarcaAdeverintaServlet</display-name>
    <servlet-name>DescarcaAdeverintaServlet</servlet-name>
    <servlet-class>Servlet.DescarcaAdeverintaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescarcaAdeverintaServlet</servlet-name>
    <url-pattern>/DescarcaAdeverintaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AprobAdevSef</display-name>
    <servlet-name>AprobAdevSef</servlet-name>
    <servlet-class>Servlet.AprobAdevSef</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AprobAdevSef</servlet-name>
    <url-pattern>/AprobAdevSef</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AprobAdevDirServlet</display-name>
    <servlet-name>AprobAdevDirServlet</servlet-name>
    <servlet-class>Servlet.AprobAdevDirServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AprobAdevDirServlet</servlet-name>
    <url-pattern>/AprobAdevDirServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResAdevSefServlet</display-name>
    <servlet-name>ResAdevSefServlet</servlet-name>
    <servlet-class>Servlet.ResAdevSefServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResAdevSefServlet</servlet-name>
    <url-pattern>/ResAdevSefServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResAdevDirServlet</display-name>
    <servlet-name>ResAdevDirServlet</servlet-name>
    <servlet-class>Servlet.ResAdevDirServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResAdevDirServlet</servlet-name>
    <url-pattern>/ResAdevDirServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifAdevServlet</display-name>
    <servlet-name>ModifAdevServlet</servlet-name>
    <servlet-class>Servlet.ModifAdevServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifAdevServlet</servlet-name>
    <url-pattern>/ModifAdevServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelAdevServlet</display-name>
    <servlet-name>DelAdevServlet</servlet-name>
    <servlet-class>Servlet.DelAdevServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelAdevServlet</servlet-name>
    <url-pattern>/DelAdevServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdevServlet</display-name>
    <servlet-name>AddAdevServlet</servlet-name>
    <servlet-class>Servlet.AddAdevServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdevServlet</servlet-name>
    <url-pattern>/AddAdevServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AAA</display-name>
    <servlet-name>AAA</servlet-name>
    <servlet-class>Servlet.AAA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AAA</servlet-name>
    <url-pattern>/AAA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProiectServlet</display-name>
    <servlet-name>EditProiectServlet</servlet-name>
    <servlet-class>Servlet.EditProiectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProiectServlet</servlet-name>
    <url-pattern>/blaaaa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>moaradevant</display-name>
    <servlet-name>moaradevant</servlet-name>
    <servlet-class>Servlet.moaradevant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>moaradevant</servlet-name>
    <url-pattern>/moaradevant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProiectServlet</display-name>
    <servlet-name>DeleteProiectServlet</servlet-name>
    <servlet-class>Servlet.DeleteProiectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProiectServlet</servlet-name>
    <url-pattern>/DeleteProiectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveMembruEchipaServlet</display-name>
    <servlet-name>RemoveMembruEchipaServlet</servlet-name>
    <servlet-class>Servlet.RemoveMembruEchipaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveMembruEchipaServlet</servlet-name>
    <url-pattern>/RemoveMembruEchipaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEchipaServlet</display-name>
    <servlet-name>DeleteEchipaServlet</servlet-name>
    <servlet-class>Servlet.DeleteEchipaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEchipaServlet</servlet-name>
    <url-pattern>/DeleteEchipaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdaugaMembruEchipaServlet</display-name>
    <servlet-name>AdaugaMembruEchipaServlet</servlet-name>
    <servlet-class>Servlet.AdaugaMembruEchipaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdaugaMembruEchipaServlet</servlet-name>
    <url-pattern>/AdaugaMembruEchipaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdaugaPostServlet</display-name>
    <servlet-name>AdaugaPostServlet</servlet-name>
    <servlet-class>Servlet.AdaugaPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdaugaPostServlet</servlet-name>
    <url-pattern>/AdaugaPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPostServlet</display-name>
    <servlet-name>EditPostServlet</servlet-name>
    <servlet-class>Servlet.EditPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPostServlet</servlet-name>
    <url-pattern>/EditPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePostServlet</display-name>
    <servlet-name>DeletePostServlet</servlet-name>
    <servlet-class>Servlet.DeletePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePostServlet</servlet-name>
    <url-pattern>/DeletePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JudeteProxyServlet</display-name>
    <servlet-name>JudeteProxyServlet</servlet-name>
    <servlet-class>Servlet.JudeteProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JudeteProxyServlet</servlet-name>
    <url-pattern>/JudeteProxyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocalitatiProxyServlet</display-name>
    <servlet-name>LocalitatiProxyServlet</servlet-name>
    <servlet-class>Servlet.LocalitatiProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocalitatiProxyServlet</servlet-name>
    <url-pattern>/LocalitatiProxyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AsignarePozitieServlet</display-name>
    <servlet-name>AsignarePozitieServlet</servlet-name>
    <servlet-class>Servlet.AsignarePozitieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsignarePozitieServlet</servlet-name>
    <url-pattern>/AsignarePozitieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPozitiiDepartamentServlet</display-name>
    <servlet-name>GetPozitiiDepartamentServlet</servlet-name>
    <servlet-class>Servlet.GetPozitiiDepartamentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPozitiiDepartamentServlet</servlet-name>
    <url-pattern>/GetPozitiiDepartamentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdaugaPozitieServlet</display-name>
    <servlet-name>AdaugaPozitieServlet</servlet-name>
    <servlet-class>Servlet.AdaugaPozitieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdaugaPozitieServlet</servlet-name>
    <url-pattern>/AdaugaPozitieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdaugaDenumireServlet</display-name>
    <servlet-name>AdaugaDenumireServlet</servlet-name>
    <servlet-class>Servlet.AdaugaDenumireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdaugaDenumireServlet</servlet-name>
    <url-pattern>/AdaugaDenumireServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TogglePozitieServlet</display-name>
    <servlet-name>TogglePozitieServlet</servlet-name>
    <servlet-class>Servlet.TogglePozitieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TogglePozitieServlet</servlet-name>
    <url-pattern>/TogglePozitieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToggleDenumireServlet</display-name>
    <servlet-name>ToggleDenumireServlet</servlet-name>
    <servlet-class>Servlet.ToggleDenumireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToggleDenumireServlet</servlet-name>
    <url-pattern>/ToggleDenumireServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPozitieServlet</display-name>
    <servlet-name>EditPozitieServlet</servlet-name>
    <servlet-class>Servlet.EditPozitieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPozitieServlet</servlet-name>
    <url-pattern>/EditPozitieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDenumireServlet</display-name>
    <servlet-name>EditDenumireServlet</servlet-name>
    <servlet-class>Servlet.EditDenumireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDenumireServlet</servlet-name>
    <url-pattern>/EditDenumireServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDenumireServlet</display-name>
    <servlet-name>DeleteDenumireServlet</servlet-name>
    <servlet-class>Servlet.DeleteDenumireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDenumireServlet</servlet-name>
    <url-pattern>/DeleteDenumireServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePozitieServlet</display-name>
    <servlet-name>DeletePozitieServlet</servlet-name>
    <servlet-class>Servlet.DeletePozitieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePozitieServlet</servlet-name>
    <url-pattern>/DeletePozitieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPozitieServlet</display-name>
    <servlet-name>GetPozitieServlet</servlet-name>
    <servlet-class>Servlet.GetPozitieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPozitieServlet</servlet-name>
    <url-pattern>/GetPozitieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDenumireServlet</display-name>
    <servlet-name>GetDenumireServlet</servlet-name>
    <servlet-class>Servlet.GetDenumireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDenumireServlet</servlet-name>
    <url-pattern>/GetDenumireServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTaskServlet</display-name>
    <servlet-name>EditTaskServlet</servlet-name>
    <servlet-class>Servlet.EditTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTaskServlet</servlet-name>
    <url-pattern>/EditTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTaskServlet</display-name>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <servlet-class>Servlet.DeleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <url-pattern>/DeleteTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTasksCalendarServlet</display-name>
    <servlet-name>GetTasksCalendarServlet</servlet-name>
    <servlet-class>Servlet.GetTasksCalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTasksCalendarServlet</servlet-name>
    <url-pattern>/GetTasksCalendarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdaugaTaskServlet</display-name>
    <servlet-name>AdaugaTaskServlet</servlet-name>
    <servlet-class>Servlet.AdaugaTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdaugaTaskServlet</servlet-name>
    <url-pattern>/AdaugaTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckInServlet</display-name>
    <servlet-name>CheckInServlet</servlet-name>
    <servlet-class>Servlet.CheckInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckInServlet</servlet-name>
    <url-pattern>/CheckInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRaportPrezentaServlet</display-name>
    <servlet-name>GetRaportPrezentaServlet</servlet-name>
    <servlet-class>Servlet.GetRaportPrezentaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRaportPrezentaServlet</servlet-name>
    <url-pattern>/GetRaportPrezentaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriereEvenimentServlet</display-name>
    <servlet-name>InscriereEvenimentServlet</servlet-name>
    <servlet-class>Servlet.InscriereEvenimentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriereEvenimentServlet</servlet-name>
    <url-pattern>/InscriereEvenimentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdaugaEvenimentServlet</display-name>
    <servlet-name>AdaugaEvenimentServlet</servlet-name>
    <servlet-class>Servlet.AdaugaEvenimentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdaugaEvenimentServlet</servlet-name>
    <url-pattern>/AdaugaEvenimentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTaskStatusServlet</display-name>
    <servlet-name>UpdateTaskStatusServlet</servlet-name>
    <servlet-class>Servlet.UpdateTaskStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskStatusServlet</servlet-name>
    <url-pattern>/UpdateTaskStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CVServlet</display-name>
    <servlet-name>CVServlet</servlet-name>
    <servlet-class>Servlet.CVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CVServlet</servlet-name>
    <url-pattern>/CVServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CVGeneratorServlet</display-name>
    <servlet-name>CVGeneratorServlet</servlet-name>
    <servlet-class>Servlet.CVGeneratorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CVGeneratorServlet</servlet-name>
    <url-pattern>/CVGeneratorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CVManagementServlet</display-name>
    <servlet-name>CVManagementServlet</servlet-name>
    <servlet-class>Servlet.CVManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CVManagementServlet</servlet-name>
    <url-pattern>/CVManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationManagementServlet</display-name>
    <servlet-name>ApplicationManagementServlet</servlet-name>
    <servlet-class>Servlet.ApplicationManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationManagementServlet</servlet-name>
    <url-pattern>/ApplicationManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportsServlet</display-name>
    <servlet-name>ReportsServlet</servlet-name>
    <servlet-class>Servlet.ReportsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportsServlet</servlet-name>
    <url-pattern>/ReportsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportExportServlet</display-name>
    <servlet-name>ReportExportServlet</servlet-name>
    <servlet-class>Servlet.ReportExportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportExportServlet</servlet-name>
    <url-pattern>/ReportExportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobsServlet</display-name>
    <servlet-name>JobsServlet</servlet-name>
    <servlet-class>Servlet.JobsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobsServlet</servlet-name>
    <url-pattern>/JobsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobssServlet</display-name>
    <servlet-name>JobssServlet</servlet-name>
    <servlet-class>Servlet.JobssServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobssServlet</servlet-name>
    <url-pattern>/JobssServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleInterviewServlet</display-name>
    <servlet-name>ScheduleInterviewServlet</servlet-name>
    <servlet-class>Servlet.ScheduleInterviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleInterviewServlet</servlet-name>
    <url-pattern>/ScheduleInterviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRChatServlet</display-name>
    <servlet-name>HRChatServlet</servlet-name>
    <servlet-class>Servlet.HRChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRChatServlet</servlet-name>
    <url-pattern>/HRChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatServlet</display-name>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>Servlet.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/ChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageSediu</display-name>
    <servlet-name>ManageSediu</servlet-name>
    <servlet-class>Servlet.ManageSediu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageSediu</servlet-name>
    <url-pattern>/ManageSediu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSediuDetails</display-name>
    <servlet-name>GetSediuDetails</servlet-name>
    <servlet-class>mix.GetSediuDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSediuDetails</servlet-name>
    <url-pattern>/GetSediuDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSediu</display-name>
    <servlet-name>DeleteSediu</servlet-name>
    <servlet-class>mix.DeleteSediu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSediu</servlet-name>
    <url-pattern>/DeleteSediu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllSedii</display-name>
    <servlet-name>GetAllSedii</servlet-name>
    <servlet-class>mix.GetAllSedii</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllSedii</servlet-name>
    <url-pattern>/GetAllSedii</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSediiServlet</display-name>
    <servlet-name>GetSediiServlet</servlet-name>
    <servlet-class>mix.GetSediiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSediiServlet</servlet-name>
    <url-pattern>/GetSediiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserHolidayServlet</display-name>
    <servlet-name>GetUserHolidayServlet</servlet-name>
    <servlet-class>mix.GetUserHolidayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserHolidayServlet</servlet-name>
    <url-pattern>/GetUserHolidayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getUserHomeServlet</display-name>
    <servlet-name>getUserHomeServlet</servlet-name>
    <servlet-class>mix.getUserHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserHomeServlet</servlet-name>
    <url-pattern>/getUserHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserWorkplaceServlet</display-name>
    <servlet-name>GetUserWorkplaceServlet</servlet-name>
    <servlet-class>mix.GetUserWorkplaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserWorkplaceServlet</servlet-name>
    <url-pattern>/GetUserWorkplaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdaugaEchipaServlet</display-name>
    <servlet-name>AdaugaEchipaServlet</servlet-name>
    <servlet-class>Servlet.AdaugaEchipaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdaugaEchipaServlet</servlet-name>
    <url-pattern>/AdaugaEchipaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSediutLocatieServlet</display-name>
    <servlet-name>UpdateSediutLocatieServlet</servlet-name>
    <servlet-class>Servlet.UpdateSediutLocatieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSediutLocatieServlet</servlet-name>
    <url-pattern>/UpdateSediutLocatieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetConcediiPersonaleServlet</display-name>
    <servlet-name>GetConcediiPersonaleServlet</servlet-name>
    <servlet-class>Servlet.GetConcediiPersonaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConcediiPersonaleServlet</servlet-name>
    <url-pattern>/GetConcediiPersonaleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNextConcediuServlet</display-name>
    <servlet-name>GetNextConcediuServlet</servlet-name>
    <servlet-class>Servlet.GetNextConcediuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNextConcediuServlet</servlet-name>
    <url-pattern>/GetNextConcediuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSediiiServlet</display-name>
    <servlet-name>GetSediiiServlet</servlet-name>
    <servlet-class>Servlet.GetSediiiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSediiiServlet</servlet-name>
    <url-pattern>/GetSediiiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDepartamenteServlet</display-name>
    <servlet-name>GetDepartamenteServlet</servlet-name>
    <servlet-class>Servlet.GetDepartamenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDepartamenteServlet</servlet-name>
    <url-pattern>/GetDepartamenteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSediiSelectServlet</display-name>
    <servlet-name>GetSediiSelectServlet</servlet-name>
    <servlet-class>Servlet.GetSediiSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSediiSelectServlet</servlet-name>
    <url-pattern>/GetSediiSelectServlet</url-pattern>
  </servlet-mapping>
</web-app>